*.html linguist-language=Python
*.html linguist-language=python
*.html linguist-language=PYTHON

src/* linguist-detectable
tests/* linguist-detectable
src/*/* linguist-detectable
tests/*/* linguist-detectable
